<h3>Add a New Pizza Post</h3>
<%= form_with model: @blog do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <br>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <br>
    <%= form.submit 'Add Pizza Post' %>
<% end %>

<br>
<p>
    <%= link_to 'Back to Home', blogs_path %>
</p>