<h3> <%= @blog.title %> </h3>
<br>
<p>
   <%= "Here is the content: #{@blog.content}." %>
</p>
<p>
    <%= link_to 'Delete this Pizza Planet Post', blog_path(@blog), data:{
        turbo_method: :delete, turbo_confirm: "Are you Sure?"
    } %>
</p>
<p>
    <%= link_to 'Edit this Pizza Planet Post', edit_blog_path%>
</p>
<p>
    <%= link_to 'Back to Pizza Planet', blogs_path %>
</p>